/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  background: var(--color-secondary);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 30%, transparent 30%),
    linear-gradient(
      90deg,
      rgba(208, 208, 208, 1) 0%,
      rgba(59, 171, 255, 1) 100%
    );
  padding: 0;
}

.hero .carousel {
  width: 93%;
  min-height: 600px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.hero .carousel-inner {
  position: absolute;
  inset: 0;
}

.hero .carousel-item {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition-duration: 0.4s;
}

.hero .carousel-indicators {
  margin-bottom: 1.5rem;
}

.hero .carousel-indicators button {
  height: 4px;
  opacity: 1;
  margin: 0 4px;
}

.hero .carousel-indicators button.active {
  background-color: var(--color-primary);
}

.hero .carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
  padding: 0 70px;
  text-align: center;
  text-shadow: 0px 2px 3px #141415;
}

.hero .carousel-caption h2 {
  position: relative;
  margin: 0 0 20px 0;
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
}

.hero .carousel-caption p {
  margin: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 1279px) {
  .hero {
    background: var(--color-accent);
    background: linear-gradient(
      90deg,
      rgba(208, 208, 208, 1) 20%,
      rgba(59, 171, 255, 1) 20%
    );
    padding: 0 0 20px 0;
  }

  .hero .carousel {
    width: 100%;
    min-height: 400px;
  }
}

@media (max-width: 768px) {
  .hero .carousel-caption h2 {
    font-size: 45px;
  }
}

@media (max-width: 575px) {
  .hero .carousel-caption {
    padding: 0 10px;
  }

  .hero .carousel-caption h2 {
    font-size: 34px;
  }

  .hero .carousel-caption p {
    font-size: 14px;
  }
}

.hero .carousel-control-prev {
  justify-content: start;
  padding-left: 10px;
}

.hero .carousel-control-next {
  justify-content: end;
  padding-right: 10px;
}

.hero .carousel-control-next-icon,
.hero .carousel-control-prev-icon {
  width: 73px;
  height: 73px;
}

@media (max-width: 640px) {
  .hero .carousel-control-next,
  .hero .carousel-control-prev {
    display: none;
  }
}

.hero .carousel-control-prev,
.hero .carousel-control-next {
  z-index: 3;
  transition: 0.3s;
}

.hero .carousel-control-prev:focus,
.hero .carousel-control-next:focus {
  opacity: 0.5;
}

.hero .carousel-control-prev:hover,
.hero .carousel-control-next:hover {
  opacity: 0.9;
}
